<a href="https://colab.research.google.com/github/mn-rahul/Amazon-ML/blob/main/Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import csv

In [ ]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
train=pd.read_csv('/content/drive/My Drive/AmazonML/clean_train.csv',index_col=[0])

/usr/local/lib/python3.7/dist-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [ ]:
# train.fillna('')
# train.head()

                                               TITLE  ... BROWSE_NODE_ID
0  ['pete', 'cat', 'bedtim', 'blue', 'doll', '14'...  ...              0
1  ['new', 'yorker', 'nyhm014', 'refriger', 'magn...  ...              1
2  ['ultim', 'self', 'suffici', 'handbook', 'comp...  ...              2
3  ['amway', 'nutrilit', 'kid', 'chewabl', 'iron'...  ...              3
4  ['teacher', 'planner', 'compani', 'a4', '6', '...  ...              4

[5 rows x 5 columns]

In [ ]:
train['TITLE']

0          ['pete', 'cat', 'bedtim', 'blue', 'doll', '14'...
1          ['new', 'yorker', 'nyhm014', 'refriger', 'magn...
2          ['ultim', 'self', 'suffici', 'handbook', 'comp...
3          ['amway', 'nutrilit', 'kid', 'chewabl', 'iron'...
4          ['teacher', 'planner', 'compani', 'a4', '6', '...
                                 ...
2903019    ['premium', 'aviat', 'sunglass', 'hd', 'polar'...
2903020    ['social', 'distanc', 'sticker', 'set', '5', '...
2903021    ['torr', 'face', 'shield', 'pack', '5', 'adjus...
2903022    ['type', 'c', '3', '5', 'mm', 'oppo', 'r17', '...
2903023             ['kng', 'orang', 'polo', 'tshirt', '38']
Name: TITLE, Length: 2903024, dtype: object

In [ ]:
train.shape

(2903024, 5)

In [ ]:
test=pd.read_csv('/content/drive/My Drive/AmazonML/clean_test.csv',index_col=[0])

In [ ]:
test

                                                    TITLE  ...          BRAND
0       command 3m small kitchen hook white decor dama...  ...        command
1       neal jump hardwar jag unisex adult glove black...  ...           neal
2         nfl detroit lion portabl parti fridg 15 8 quart  ...  boelter brand
3          panason singl line kx ts880mx cord phone white  ...        panason
4       zero babi girl 100 cotton innerwear bloomer dr...  ...           zero
...                                                   ...  ...            ...
110770  aahna e mall oneblad hybrid trimmer shaver edg...  ...          gener
110771  grin health n99 anti pollut reusabl washabl ma...  ...    grin health
110772  asian armi pink ultra reusabl respir cloth mas...  ...          asian
110773  im safe 3 pli non woven dispos surgic face mas...  ...    intermarket
110774  artifi 100 cotton unisex reusabl breathabl was...  ...         artifi

[110775 rows x 4 columns]

In [ ]:
temp=pd.read_csv('/content/drive/My Drive/AmazonML/test.csv',escapechar='\\',quoting = csv.QUOTE_NONE,index_col=[0]) 
temp

                                                        TITLE  ...           BRAND
PRODUCT_ID                                                     ...
1           Command 3M Small Kitchen Hooks, White, Decorat...  ...         Command
2           O'Neal Jump Hardware JAG Unisex-Adult Glove (B...  ...          O'Neal
3           NFL Detroit Lions Portable Party Fridge, 15.8 ...  ...  Boelter Brands
4           Panasonic Single Line KX-TS880MX Corded Phone ...  ...       Panasonic
5           Zero Baby Girl's 100% Cotton Innerwear Bloomer...  ...            Zero
...                                                       ...  ...             ...
110771      AAHNA E MALL OneBlade Hybrid Trimmer Shaver An...  ...         Generic
110772      Grin Health N99 Anti Pollution Reusable Washab...  ...     Grin Health
110773      Asian Army Pink Ultra reusable respirator clot...  ...           ASIAN
110774      IM Safe 3 Ply Non-Woven Disposable Surgical Fa...  ...     Intermarket
110775      Artifie 100% Cotton Unisex Reusable Breathable...  ...         Artifie

[110775 rows x 4 columns]

In [ ]:
X = train[['TITLE','DESCRIPTION','BULLET_POINTS','BRAND']]
#X=np.transpose(X)
y=train[['BROWSE_NODE_ID']]

In [ ]:
X=X.sum(axis=1)

In [ ]:
X.shape,y.shape

((2903024,), (2903024, 1))

In [ ]:
# X = X.values.reshape(X.shape[1:])

ValueError: ignored

In [ ]:
y

         BROWSE_NODE_ID
0                     0
1                     1
2                     2
3                     3
4                     4
...                 ...
2903019            1040
2903020           15199
2903021         1044933
2903022           14790
2903023            1213

[2903024 rows x 1 columns]

In [ ]:
y.shape

In [ ]:
y.nunique()

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.5, random_state=2)

In [ ]:
print(X_train.shape,y_train.shape,X_test.shape,y_test.shape)

(1451512,) (1451512, 1) (1451512,) (1451512, 1)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.naive_bayes import MultinomialNB

count_vect = CountVectorizer()
X_train_counts = count_vect.fit_transform(X_train)
tfidf_transformer = TfidfTransformer()
X_train_tfidf = tfidf_transformer.fit_transform(X_train_counts)

clf = MultinomialNB().fit(X_train_tfidf, y_train)

NameError: ignored

In [ ]:
ypred= clf.predict(X_test)

NameError: ignored

In [ ]:
# from keras.preprocessing.text import Tokenizer
# tokenizer = Tokenizer(num_words=5000)
# tokenizer.fit_on_texts(X_train)

# X_train = tokenizer.texts_to_sequences(X_train)
# X_test = tokenizer.texts_to_sequences(X_test)

In [ ]:
# from keras.preprocessing.sequence import pad_sequences
# vocab_size = len(tokenizer.word_index) + 1

# maxlen = 200

# X_train = pad_sequences(X_train, padding='post', maxlen=maxlen)
# X_test = pad_sequences(X_test, padding='post', maxlen=maxlen)
# X_train = np.transpose(X_train)
# X_test= np.transpose(X_test)

In [ ]:
# #GloVe Embedding 
# from numpy import array
# from numpy import asarray
# from numpy import zeros

# embeddings_dictionary = dict()

# def loadGloveModel(File):
#     print("Loading Glove Model")
#     f = open(File,'r')
#     gloveModel = {}
#     for line in f:
#         splitLines = line.split()
#         word = splitLines[0]
#         wordEmbedding = np.array([float(value) for value in splitLines[1:]])
#         gloveModel[word] = wordEmbedding
#     print(len(gloveModel)," words loaded!")
#     return gloveModel

In [ ]:
# embedding_matrix = zeros((vocab_size, 100))
# for word, index in tokenizer.word_index.items():
#     embedding_vector = embeddings_dictionary.get(word)
#     if embedding_vector is not None:
#         embedding_matrix[index] = embedding_vector

In [ ]:
# from keras.models import Sequential
# from keras.layers import Dense, Embedding, LSTM
# from keras.layers import Bidirectional
# from tensorflow.keras.layers import Dropout

In [ ]:
# n_features = X_train.shape[1]
# n_features

In [ ]:
#  #bidirectional
# embed_dim = 128
# lstm_out = 200
# batch_size = 32
    
# model = Sequential()
# model.add(Embedding(2500, embed_dim,input_length = X.shape[1]))
# model.add(Dropout(0.2))
# model.add(Bidirectional((LSTM(lstm_out))))
# model.add(Dense(2,activation='softmax'))
# model.compile(loss = 'categorical_crossentropy', optimizer='adam',metrics = ['accuracy'])
# print(model.summary())

In [ ]:
# X.shape

In [ ]:
# y.shape

In [ ]:
#  model.fit(X_train, y_train, batch_size =batch_size, epochs = 100,  verbose = 5)